<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.ExceptionHandling.Logging" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net452" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net452" />
</packages>