<?xml version="1.0" encoding="utf-8"?>

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0" >
  <peocessing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </peocessing-directives>
  <schedule>
    <job>
      <name>Reminder</name>
      <group>RemindersGroup</group>
      <description>recordatorio que se envia a los usuarios que aun no han introducido el comentario post implementacion</description>
      <job-type>Jobs.MiTarea,_code</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>Viernes800</name>
        <group>Grupo1</group>
        <description>Trigger que se dispara todos los viernes a las 8:00</description>
        <job-name>Reminder</job-name>
        <job-group>RemindersGroup</job-group>
        <!--expression cron:desde las 16:30:00cada minuto todos los viernes-->
        <!--<cron-expression>0 30/1 16?*FRI</cron-expression-->

        <!--expression cron:una ves a las 8:00:00 todos los viernes-->
        <cron-expression>0 0 8?*FRI</cron-expression>
        <!--expression cron:desde las 16:30:00cada minuto todos los viernes-->
        <!--<cron-expression>0 0/1 *?**</cron-expression-->
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>
<!--<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>-->
